@{
    ViewData["Title"] = "Hakkımızda";
}
<div class="">
    <h1 class="my-5 page-title px-4">Hakkımızda</h1>
    <div class="col-md-12 d-flex justify-content-center">
        <div class="col-md-5 mx-5 h-100">
            <img src="~/images/kotyapi.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-7" >
            <p class="desc">Kot Yapı ailesi olarak 1980'den beri gelen tecrübemiz ile değişen ve gelişen bölgemizde, pek çok projeye imza atmış olup, konut ağırlıklı olmak üzere iş merkezleri, villalar, fabrikalar ve hastane gibi projeleri üstlenmiş bulunmaktayız. İnşaat ile beraber taahhüt ve mimarlık hizmeti de sunmaktayız.</p><br>
            <p class="desc">Yılların getirdiği deneyim ve bilgi birikimi ile, işimizi en iyi şekilde yapmayı hedefliyoruz. Kalite, güven ve müşteri memnuniyeti ilkelerimiz doğrultusunda, her projede en iyi hizmeti sunmak için çalışıyoruz.</p><br>
            <p class="desc">Özellikle İstanbul gibi deprem riski yüksek bir şehirde, kentsel dönüşüm projelerine büyük önem veriyor ve bu konuda son derece hassas davranıyoruz. Yaşam alanlarının güvenliği ve dayanıklılığı bizim için önceliklidir. Bu nedenle, kentsel dönüşüm projelerimizde sadece estetik ve fonksiyonelliği değil, aynı zamanda yapıların sağlamlığını ön planda tutuyoruz.</p> <br>
            <p class="desc">İnşaat sektöründe, güvenilir ve kaliteli hizmet anlayışımız ile, her zaman yanınızdayız. Kot Yapı ailesi olarak, siz değerli müşterilerimize en iyi hizmeti sunmak için buradayız.</p><br>  
        </div>    
    </div
</div>