@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-5 col-md-12">
    <h1 class="main-title" style="font-size: 4.0rem;">Kot Yapı; Güvenli Yarınlar İçin...</h1>
</div>
<div class="cardlar col-md-12 d-flex justify-content-center gap-3 my-5">
    <div class="card col-md-3 d-flex flex-column">
        <img src="~/images/Mühendislik.jpg" class="card-img-top card-img" alt="...">
        <div class="card-body flex-grow-2">
            <h5 class="card-title">Mühendislik Hizmetlerimiz  <span class="material-symbols-outlined">engineering</span></h5>
            <p class="card-text">Yapı projeleri gibi mühendislik hizmetlerimiz hakkında bilgi almak için bizimle iletişime geçin.</p>
            <div class="d-flex justify-content-center">
                <a href="/Home/Contact" class="btn btn-primary" style="position: relative; top: 0px;">Git</a>
            </div>
        </div>
    </div>
    <div class="card col-md-3">
        <img src="~/images/mimarlık.jpg" class="card-img-top card-img" alt="...">
        <div class="card-body">
            <h5 class="card-title">  Mimarlık Hizmetlerimiz <span class="material-symbols-outlined">design_services</span></h5>
            <p class="card-text">Proje ve tasarım gibi mimarlık hizmetlerimiz hakkında bilgi almak için bizimle iletişime geçin.</p>
            <div class="d-flex justify-content-center">
                <a href="/Home/Contact" class="btn btn-primary">Git</a>
            </div>
        </div>
    </div>
    <div class="card col-md-3">
        <img src="~/images/kentseldönüşüm.jpg" class="card-img-top card-img" alt="...">
        <div class="card-body">
            <h5 class="card-title">Kentsel Dönüşüm <span class="material-symbols-outlined">foundation</span></h5>
            <p class="card-text">Kentsel Dönüşüm hizmetmelerimiz hakkında bilgi almak için bizimle iletişime geçin</p>
            <div class="d-flex justify-content-center">
                <a href="/Home/Contact" class="btn btn-primary">Git</a>
            </div>
        </div>
    </div>
</div>
<div class="cardlar col-md-12 d-flex justify-content-center gap-3 mb-5">
    <div class="card col-md-3">
        <img src="~/images/Güneşapartmanı.jpg" class="card-img-top card-img" alt="...">
        <div class="card-body">
            <h5 class="card-title">Devam Eden Projelerimiz <span class="material-symbols-outlined">construction</span></h5>
            <p class="card-text">Devam Eden projelerimizi hakkında bilgi edinin</p>
            <div class="d-flex justify-content-center">
                <a href="/Home/Projects" class="btn" style="position: relative; top: 20px;">Git</a>
            </div>
        </div>
    </div>
    <div class="card col-md-3">
    <img src="~/images/kotyapi.jpg" class="card-img-top card-img" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hakkımızda <i class="bi bi-info-circle-fill"></i></h5>
            <p class="card-text">Firmamızın vizyonu, misyonu ve değerleri hakkında daha fazla bilgi edinin.</p>
            <div class="d-flex justify-content-center">
                <a href="/Home/About" class="btn btn-primary">Git</a>
            </div>
        </div>
    </div>
    <div class="card col-md-3">
    <img src="~/images/danışmanlık.jpg" class="card-img-top card-img" alt="...">
        <div class="card-body">
            <h5 class="card-title">Danışmanlık Hizmetlerimiz <span class="material-symbols-outlined">help_clinic</span></h5>
            <p class="card-text">Proje geliştirme, ruhsatlandırma ve uygulama süreçlerinde danışmanlık hizmetlerimiz için bizimle iletişime geçin.</p>
            <div class="d-flex justify-content-center">
                <a href="/Home/Contact" class="btn btn-primary">Git</a>
            </div>
        </div>
    </div>
</div>
